{% extends "_base.html" %}

{% block content %}
<h2 class="fw-bold">Редактирование лида</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col"></div>
    <div class="col">
        <form method="POST" action="/leads/{{ object.pk }}/edit/">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Применить</button>
            <a href="{% url 'leads:leads-list' %}" class="btn btn-secondary ms-2">Назад</a>
        </form>

        <!-- Кнопка для конвертации лида -->
        <a href="{% url 'leads:convert-lead-to-customer' object.pk %}" class="btn btn-success mt-3">
            Конвертировать в клиента
        </a>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
